<section class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Contact Us</h1>
        <div class="section-title-border margin-t-20"></div>
        <p
          class="section-subtitle text-muted text-center font-secondary padding-t-30"
        ></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div
            style="font-weight: 500; text-align: center; padding-right: 0px;"
            class="col-12 col-lg-12"
          >
            South Carolina Office
          </div>
          <div
            style="font-weight: 200;"
            class="col-6 col-lg-6"
            style="text-align: right;"
          >
            Phone Number:
          </div>
          <div class="col-6 col-lg-6">
            <a href="tel:8434375099">(843) 437-5099</a>
          </div>
          <div class="col-6 col-lg-6" style="text-align: right;">
            Office Address:
          </div>
          <div class="col-6 col-lg-6">
            102 James Rd<br />Summerville SC 29486
          </div>
        </div>
        <div class="row" style="padding-top: 25px;">
          <div
            style="font-weight: 500; text-align: center; padding-right: 0px;"
            class="col-12 col-lg-12"
          >
            North Carolina Office
          </div>
          <div class="col-6 col-lg-6" style="text-align: right;">
            Phone Number:
          </div>
          <div class="col-6 col-lg-6">
            <a href="tel:8283840772">(828) 384-0772</a>
          </div>
          <div class="col-6 col-lg-6" style="text-align: right;">
            Office Address:
          </div>
          <div class="col-6 col-lg-6">
            4501 New Bern Ave. STE 130 #343<br />Raleigh NC 27610-1550
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="row" style="padding-top: 25px;">
          <div
            style="font-weight: 500; text-align: center; padding-right: 0px;"
            class="col-12 col-lg-12"
          >
            Direct Contacts
          </div>
          <div class="col-12 col-lg-6" style="padding-bottom: 25px;">
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Name:
              </div>
              <div class="col-6 col-lg-6">Kevin Dale Cox</div>
            </div>
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Phone Number:
              </div>
              <div class="col-6 col-lg-6">
                <a href="tel:8438177322">(843) 817-7322</a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Email:
              </div>
              <div class="col-6 col-lg-6">
                <a href="mailto:dale@icon-concrete.com"
                  >dale@icon-concrete.com</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" style="padding-bottom: 25px;">
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Name:
              </div>
              <div class="col-6 col-lg-6">Gary Hamby</div>
            </div>
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Phone Number:
              </div>
              <div class="col-6 col-lg-6">
                <a href="tel:7045575499">(704) 557-5499</a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Email:
              </div>
              <div class="col-6 col-lg-6">
                <a href="mailto:gary@icon-concrete.com"
                  >gary@icon-concrete.com</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 col-lg-6" style="text-align: right;">
                Support Email:
              </div>
              <div class="col-6 col-lg-6">
                <a href="mailto:info@icon-concrete.com"
                  >info@icon-concrete.com</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
