<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 margin-t-20">
                <h4>Icon Transfer</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
            </div>
            <div class="col-lg-3 margin-t-20">
            </div>
            <div class="col-lg-3 margin-t-20">
            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->

<!--START FOOTER ALTER-->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left pull-none">
                    <p class="copy-rights text-muted mb-3 mb-sm-0">{{ cur_year }} © Icon Transfer</p>
                </div>
                <div class="float-right pull-none ">
                    <ul class="list-inline social m-0">
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-icon ml-1"><i class="mdi mdi-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--START FOOTER ALTER-->

<!-- Style switcher -->
